Write a Python function to connect to a SQL database and perform a simple query, such as selecting the top 10 rows from a table. Use a library like psycopg2 or sqlite3.

In [36]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [2]:
def create_connection():
    conn =None;
    try:
        conn = sqlite3.connect('chinook.db')
        print('Connection to SQLite DB successful')
    except Error as e:
        print(f"The error '{e}' occurred")

    return conn

In [3]:
def select_top_rows(conn, table_name, num_rows=10):
    cursor = conn.cursor()
    cursor.execute(f"SELECT * FROM '{table_name}' LIMIT '{num_rows}'")
    rows = cursor.fetchall()

    for row in rows:
        print(row)

In [4]:
def list_all_tables(conn):
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print(cursor.fetchall())

In [23]:
def get_employees_by_title(conn, title):
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM Employees WHERE Title = ?", (title,))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

In [34]:
def get_employees(conn, table_name):
    cursor = conn.cursor()
    cursor.execute(f"SELECT * FROM '{table_name}'")
    rows = cursor.fetchall()
    return rows

In [37]:
def get_employees_v2(conn, table_name):
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    return df

In [39]:
def get_employees_v3(conn, table_name):
    cursor = conn.cursor()
    cursor.execute(f"SELECT * FROM '{table_name}'")
    rows = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    return column_names, rows

In [32]:
def get_records_count(conn, table_name):
    cursor = conn.cursor()
    cursor.execute(f"SELECT COUNT(*) AS number_employees FROM '{table_name}'")
    rows = cursor.fetchall()
    return rows

In [24]:
conn = create_connection()
if conn is not None:
    select_top_rows(conn,"Albums",10)
    #list_all_tables(conn)

Connection to SQLite DB successful
(1, 'For Those About To Rock We Salute You', 1)
(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)
(6, 'Jagged Little Pill', 4)
(7, 'Facelift', 5)
(8, 'Warner 25 Anos', 6)
(9, 'Plays Metallica By Four Cellos', 7)
(10, 'Audioslave', 8)

In [35]:
## get employees by city
rows = get_employees_by_title(conn, 'Sales Support Agent')

(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')

In [31]:
get_employees(conn,'Employees')

[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'), (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'), (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'), (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'), (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com'), (6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com'), (7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com'), (8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')]

In [38]:
df = get_employees_v2(conn, 'Employees')
print(df)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           3   Peacock      Jane  Sales Support Agent        2.0
3           4      Park  Margaret  Sales Support Agent        2.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           6  Mitchell   Michael           IT Manager        1.0
6           7      King    Robert             IT Staff        6.0
7           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate                      Address  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW
1  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
2  1973-08-29 00:00:00  2002-04-01 00:00:00                1111 6 Ave SW
3  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
4  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
5  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
6  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
7  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW

         City State Country PostalCode              Phone                Fax  \
0    Edmonton    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1     Calgary    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2     Calgary    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3     Calgary    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4     Calgary    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
5     Calgary    AB  Canada    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899
6  Lethbridge    AB  Canada    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485
7  Lethbridge    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
5   michael@chinookcorp.com
6    robert@chinookcorp.com
7     laura@chinookcorp.com

In [41]:
column_names, rows = get_employees_v3(conn, 'Employees')
df = pd.DataFrame(rows, columns=column_names)
print(df)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           3   Peacock      Jane  Sales Support Agent        2.0
3           4      Park  Margaret  Sales Support Agent        2.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           6  Mitchell   Michael           IT Manager        1.0
6           7      King    Robert             IT Staff        6.0
7           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate                      Address  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW
1  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
2  1973-08-29 00:00:00  2002-04-01 00:00:00                1111 6 Ave SW
3  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
4  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
5  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
6  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
7  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW

         City State Country PostalCode              Phone                Fax  \
0    Edmonton    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1     Calgary    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2     Calgary    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3     Calgary    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4     Calgary    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
5     Calgary    AB  Canada    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899
6  Lethbridge    AB  Canada    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485
7  Lethbridge    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
5   michael@chinookcorp.com
6    robert@chinookcorp.com
7     laura@chinookcorp.com

In [33]:
count = get_records_count(conn,'Employees')
print(count)

[(8,)]

In [58]:
# 0
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT name FROM sqlite_master WHERE type='table'"

df = pd.read_sql_query(sql_query, conn)
print(df)

               name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1

In [46]:
#1 
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT * FROM Albums LIMIT 10;"

# cursor.execute(sql_query)

# results = cursor.fetchall()

# for row in results:
#     print(row)

df = pd.read_sql_query(sql_query, conn)
print(df)
conn.close()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8

In [49]:
# 2
conn = sqlite3.connect('chinook.db')
sql_query = "SELECT COUNT(*) FROM Employees"

df = pd.read_sql_query(sql_query, conn)
print(df)

   COUNT(*)
0         8

In [50]:
# 3
conn = sqlite3.connect('chinook.db')
query = "SELECT * FROM Employees ORDER BY LastName DESC";
df = pd.read_sql_query(query, conn)
print(df)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           3   Peacock      Jane  Sales Support Agent        2.0
1           4      Park  Margaret  Sales Support Agent        2.0
2           6  Mitchell   Michael           IT Manager        1.0
3           7      King    Robert             IT Staff        6.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           2   Edwards     Nancy        Sales Manager        1.0
6           8  Callahan     Laura             IT Staff        6.0
7           1     Adams    Andrew      General Manager        NaN

             BirthDate             HireDate                      Address  \
0  1973-08-29 00:00:00  2002-04-01 00:00:00                1111 6 Ave SW
1  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
2  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
3  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
4  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
5  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
6  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW
7  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW

         City State Country PostalCode              Phone                Fax  \
0     Calgary    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
1     Calgary    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
2     Calgary    AB  Canada    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899
3  Lethbridge    AB  Canada    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485
4     Calgary    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
5     Calgary    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
6  Lethbridge    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772
7    Edmonton    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457

                      Email
0      jane@chinookcorp.com
1  margaret@chinookcorp.com
2   michael@chinookcorp.com
3    robert@chinookcorp.com
4     steve@chinookcorp.com
5     nancy@chinookcorp.com
6     laura@chinookcorp.com
7    andrew@chinookcorp.com

In [52]:
# 4
conn = sqlite3.connect('chinook.db')
query = "SELECT City, COUNT(*) From Employees GROUP BY City";
df = pd.read_sql_query(query, conn)
print(df)

         City  COUNT(*)
0     Calgary         5
1    Edmonton         1
2  Lethbridge         2

In [55]:
# 5
conn = sqlite3.connect('chinook.db')
query = "SELECT * From Employees WHERE LastName LIKE 'P%'";
df = pd.read_sql_query(query, conn)
print(df)

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           3  Peacock      Jane  Sales Support Agent          2
1           4     Park  Margaret  Sales Support Agent          2

             BirthDate             HireDate           Address     City State  \
0  1973-08-29 00:00:00  2002-04-01 00:00:00     1111 6 Ave SW  Calgary    AB
1  1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW  Calgary    AB

  Country PostalCode              Phone                Fax  \
0  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
1  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289

                      Email
0      jane@chinookcorp.com
1  margaret@chinookcorp.com

In [ ]:
# 6
conn = sqlite3.connect('chinook.db')
query = "SELECT Employees.FirstName FROM Employees e INNER JOIN Departments d ON e.EmployeeId";
df = pd.read_sql_query(query, conn)
print(df)